@font-face{font-family:"Archivo";font-style:normal;font-weight:400 900;font-stretch:75% 125%;font-display:swap;src:url("fonts/archivo-0.woff2") format("woff2");}
@font-face{font-family:"Geist";font-style:normal;font-weight:400;font-display:swap;src:url("fonts/geist-0.woff2") format("woff2");}
@font-face{font-family:"Geist";font-style:normal;font-weight:500;font-display:swap;src:url("fonts/geist-1.woff2") format("woff2");}
@font-face{font-family:"Geist";font-style:normal;font-weight:600;font-display:swap;src:url("fonts/geist-2.woff2") format("woff2");}
@font-face{font-family:"Graduate";font-style:normal;font-weight:400;font-display:swap;src:url("fonts/graduate-0.woff2") format("woff2");}
